import React from "react"
import { useRef } from "react"
import { Panel } from "../Panel"

export const RepositoriesMain = () => {
  const ref = useRef<any>()

  return (
    <Panel ref={ref} height={10} top="25%" left="center">
      <blessed-text
        left="center"
        bg="white"
        fg="black"
        content="Issues"
      />
      <blessed-button
        left="center"
        top={3}
        bg="white"
        fg="black"
        content="l:List Repositories"
      />
      <blessed-button
        left="center"
        top={5}
        bg="white"
        fg="black"
        content="c:Create New Repository"
      />
    </Panel>
  )
}
