body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "~xp.css/dist/XP.css";

canvas {
  transform: translate3d(-50%, 0, 0);
  cursor: url(./icons/pencil.png) 0 34, auto;
  margin: 100px 50%;
}

.edit {
  position: fixed;
  bottom: 40px;
  left: 30%;
  z-index: 10;
}

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 336px;
}

.color {
  width: 24px;
  height: 24px;
  cursor: pointer;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
}

.colors-panel {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: 10;
}