import {
  configureStore,
  getDefaultMiddleware,
  ThunkAction,
  Action
} from "@reduxjs/toolkit"
import {currentStroke} from './modules/currentStrokeSlice'
import {modalVisible} from './modules/modalSlice'
import {projectsList} from './modules/projectsListSlice'
import historyIndex from './modules/historyIndexSlice'
import strokes from './modules/strokesSlice'
import logger from "redux-logger"
import { RootState } from "./utils/types"

const middleware = [...getDefaultMiddleware(), logger]

export const store = configureStore({
  reducer: {
    historyIndex,
    strokes,
    currentStroke,
    modalVisible,
    projectsList
  },
  middleware
})

export type AppThunk = ThunkAction<void, RootState, unknown, Action<string>>
