import React from "react"
import { Panel } from "../Panel"

export const Issues = () => {
  return (
    <Panel height={10} top="25%" left="center">
      <blessed-text
        left="center"
        bg="white"
        fg="black"
        content="Issues" // Use proper text for each page
      />
    </Panel>
  )
}
