import React, { FC, PropsWithChildren } from "react"
import { useState } from "react"
import ApolloClient from "apollo-boost"
import { ApolloProvider } from "react-apollo-hooks"

const GITHUB_BASE_URL = "https://api.github.com/graphql"

export const ClientProvider: FC<PropsWithChildren<{}>> = ({
  children
}) => {
  const [token, setToken] = useState<string>()

  const client = new ApolloClient({
    uri: GITHUB_BASE_URL,
    request: (operation) => {
      operation.setContext({
        headers: {
          authorization: `Bearer ${token}`
        }
      })
    }
  })

  return <ApolloProvider client={client}>{children}</ApolloProvider>
}
