import * as http from "http"
import "cross-fetch/polyfill"
import fetch from "cross-fetch"
import open from "open"
import * as url from "url"
import * as keytar from "keytar"
const FormData = require("form-data")

const PORT = 3000

export const getCode = () => {
  return new Promise((resolve, reject) => {
    http
      .createServer(function (req, res) {
        if (!req.url) {
          return
        }
        const { code } = url.parse(req.url, true).query
        res.writeHead(200, { "Content-Type": "text/plain" })
        res.write(`The code is: ${code}`)
        res.end()
      })
      .listen(PORT)
  })
}
