import React from "react";
import { Route, Switch, useRouteMatch } from "react-router";
import { PullRequestsMain } from './PullRequestsMain'
import { ListPullRequests } from './ListPullRequests'

const NewPullRequest = () => <>New PullRequest</>

export const PullRequests = () => {
  const match = useRouteMatch();

  return (
    <Switch>
      <Route exact path={match.path} component={PullRequestsMain} />
      <Route path={`${match.path}/new`} component={NewPullRequest} />
      <Route path={`${match.path}/list`} component={ListPullRequests} />
    </Switch>
  )
}
