import { FC } from "react"
import { ColumnContainer, ColumnTitle } from "./styles"

type ColumnProps = {
  text: string
}

export const Column: FC<ColumnProps> = ({ text, children }) => {
  return (
    <ColumnContainer>
      <ColumnTitle>{text}</ColumnTitle>
      {children}
    </ColumnContainer>
  )
}
