import React from 'react';
import ReactDOM from 'react-dom';
import './index.css';
import { App } from './App';

ReactDOM.render(
  <React.StrictMode>
    <App>
      <p>Hello I'm React Element</p>
    </App>
  </React.StrictMode>,
  document.getElementById('root')
);